{% extends 'base.html'%}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}


    <div align="center">
            Ваше имя:  {{ user }}
    </div>

    <div align="right">
        <a href="{% url 'change_user_info' %}">Редактировать профиль</a>
        <br>
        <a href="{% url 'change_password' %}">Сменить пароль</a>
        <br>
        <a href="{% url 'change_role' %}">Переключиться на профессиональный аккаунт</a>
    </div>

    <div>
        Ближайшие записи:
    </div>

    <div>
        Ваши избранные организации:
    </div>

{% endblock %}