{% extends 'base.html'%}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}


    <div align="center">
            Ваше имя:  {{ user }}
    </div>

    <div align="right">
        <a href="{% url 'change_user_info' %}">Редактировать профиль</a>
        <br>
        <a href="{% url 'change_role' %}">Добавить функционал клиента</a>
        <br>
        <a href="{% url 'change_password' %}">Сменить пароль</a>
    </div>

    <div>
        Ваше расписание (только как работника):
    </div>

{% endblock %}