{% extends 'base.html' %}
{% load static %}

{% block styles %}
        <link href="{% static 'CastomersShedule.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'MainPage.js' %}"></script>
{% endblock %}

{% block title %}
    Запись
{% endblock %}

{% block content %}

    <div align="center">
        {{ title }}
    </div>
    <div align="center">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="ok" value="Записаться"/>
            <input type="submit" name="back" value="Назад" />
        </form>
    </div>

{% endblock %}