{% extends 'base.html' %}
{% load static %}

{% block styles %}
        <link href="{% static 'CastomersShedule.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'MainPage.js' %}"></script>
{% endblock %}

{% block title %}
    Редактирование: {{ org.name }}
{% endblock %}

{% block content %}

<div>
    <h1 align="center"> {{ org.name }} </h1>
    <p class="me-3 py-2 text-dark text-decoration-none" align="center" href="{% url 'org_main' %}"> {{ org.description }}</p>
</div>


<div>
    <h3 align="center"> Режим редактирования </h3>
</div>

<div align="right">
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'org_profile' org.id %}"> Вернуться в режим просмотра</a>
</div>

<style>
    .block_container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
</style>


<div class="block_container">

    <div>
    <h5> Сотрудники </h5>
        <p> <a class="me-3 py-2 text-dark text-decoration-none" align="center" href="{% url 'add_employee' org.id %}"> Добавить сотрудника </a> </p>
    <div>
        Подтвержденные сотрудники:
        {% for employee in conf_employees %}
        <p>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'employee_profile' employee.id %}"> {{ employee.user }} </a>
            <a href="{% url 'edit_employee' employee.id %}"> Редактировать </a>
            <a href="{% url 'delete_employee' employee.id %}"> Удалить </a>
        </p>
        {% endfor %}
    </div>
    <div>
        Неподтвержденные сотрудники (дождитесь, пока пользователи подтвердят вашу заявку): <br>
        {% for employee in unconf_employees %}
        <p>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'employee_profile' employee.id %}"> {{ employee.user }} </a>
            <a href="{% url 'delete_employee' employee.id %}"> Отменить заявку </a>
        </p>
        {% endfor %}
    </div>
    </div>

    <div>
    <h5> Администраторы </h5>
        <p> <a class="me-3 py-2 text-dark text-decoration-none" align="center" href="{% url 'add_admin' org.id %}"> Добавить администратора </a> </p>
    <div>
        Подтвержденные администраторы:
        {% for admin in conf_admins %}
        <p>
            {{ admin.user }}
            {% if admin.user != request.user and not admin.is_host%}
                <a href="{% url 'delete_admin' admin.id %}"> Удалить </a>
            {% endif %}
        </p>
        {% endfor %}
    </div>
    <div>
        Неподтвержденные администраторы (дождитесь, пока пользователи подтвердят вашу заявку): <br>
        {% for admin in unconf_admins %}
        <p>
            {{ admin.user }}
            <a href="{% url 'delete_admin' admin.id %}"> Отменить заявку </a>
        </p>
        {% endfor %}
    </div>
    </div>

    <div>
        <h5> Наши услуги: </h5>
        <a class="me-3 py-2 text-dark text-decoration-none" align="center" href="{% url 'add_service' org.id %}">Добавить услугу </a>
        <br>
        {% for service in services %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'service_profile' service.id %}">
                {{ service.name }} <br>
                {{ service.price }} рублей <br>
                {{ service.time }} минут <br>
            </a>
            <a href="{% url 'edit_service' service.id %}"> Редактировать </a>
            <a href="{% url 'delete_service' service.id %}"> Удалить </a>
            <br>
            <br>
        {% endfor %}
    </div>

</div>

{% endblock %}

