{% extends 'base.html' %}
{% load static %}

{% block styles %}
        <link href="{% static 'CastomersShedule.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'MainPage.js' %}"></script>
{% endblock %}

{% block title %}
    {{ service.name }} - {{ service.organization.name }}
{% endblock %}

{% block content %}
<div align="center">
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'org_profile' service.organization.id %}"> {{ service.organization.name }} </a>
    <h4> {{ service }} </h4>
    <p> {{ service.description }} </p>
    <div style="margin-left: 0.1rem; margin-right: 0.1rem;" class="row tableBlockBlue">
        <div class="col-12 mini-block">
            <p> Цена: {{ service.price }}p.</p>
        </div>
    </div>
    <div style="margin-left: 0.1rem; margin-right: 0.1rem;" class="row tableBlockPink">
        <div class="col-12 mini-block">
            <p> Время выполнения: {{ service.time }} мин.</p>
        </div>
    </div>
</div>

<div align="center">
{% if is_admin %}
    <a href="{% url 'edit_service' service.id %}"> Редактировать </a>
{% endif %}
</div>

<div align="center">
    Специалисты:
    <br>
    {% for employee in employees %}
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'employee_profile' employee.id %}"> {{ employee.user.name }} </a>
    <br>
    {% endfor %}
</div>
{% endblock %}