{% extends 'base.html' %}

{% block title %}
    d8clients
{% endblock %}

{% block content %}

    {% include 'organization/org_navbar.html' %}

    {% if user.is_admin %}
    <div align="center">
            <h3> Работа администратором: </h3>
            {% for org in admin_work %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'org_profile' org.id %}"> {{org}}</a>
            <br>
            {% endfor%}
    </div>
    {% endif %}

    {% if user.is_employee %}
    <div align="center">
            <h3> Работа исполнителем: </h3>
            {% for org in employee_work %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'org_profile' org.id %}"> {{org}}</a>
            <br>
            {% endfor%}
    </div>
    {% endif %}

{% endblock %}