<header id="header" class="fixed-top">
              <nav style="background: white;" class="navbar navbar-expand-lg">
                <div class="container">
                  <a id="Logo" class="navbar-brand" href="{% url 'main' %}">d8clients</a>
                </div>
              </nav>
              <nav id="bg" class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                      <li class="nav-item">
                        <a style="color: rgba(0,0,0,.75);" id="Menu" class="nav-link" aria-current="page" href="{% url 'main' %}">Главная</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_us' %}">О компании</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'org_main' %}">Организации</a>
                      </li>
                    </ul>
                    {% if request.user.is_authenticated %}
                        <div class="nav-item">
                          <a style="color: rgba(0,0,0,.75);" class="nav-link" href="{% url 'client_profile'%}">Профиль</a>
                        </div>
                        <div class="nav-item">
                          <a style="color: rgba(235, 64, 52,.70);" class="nav-link" href="{% url 'logout' %}">Выход</a>
                        </div>
                    {% else%}
                        <div class="nav-item">
                          <a style="color: rgba(235, 64, 52,.70);" class="nav-link" href="{% url 'login' %}">Вход</a>
                        </div>
                    {% endif %}
                  </div>
                </div>
              </nav>
        </header>