{% extends 'base.html'%}

{% block title %}
    Регистрация в d8clients
{% endblock %}

{% block content %}
    <div align="center">
        Зарегестрироваться
    </div>
    <div align="center">
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Зарегестрироваться" />
        </form>
    </div>

    <div align="center">
        Уже есть аккаунт?
        <a href="{% url 'login' %}">Войти</a>
    </div>

{% endblock %}