{% extends 'base.html' %}
{% load static %}

{% block styles %}
        <link href="{% static 'CastomersShedule.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'MainPage.js' %}"></script>
{% endblock %}

{% block title %}
    {{ org.name }}
{% endblock %}

{% block content %}
<div align="center">

    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'org_profile' employee.organization.id %}"> {{ employee.organization.name }} </a>
    <h4> {{ employee.user }} </h4>
    <p> {{ employee.bio }} </p>

    {% if is_admin %}
    <a href="{% url 'edit_employee' employee.id %}"> Редактировать </a>
    <a href="{% url 'edit_timetable' employee.id %}"> Редактировать расписание </a>
    {% endif %}

    <div>
        <h6> Можно записаться на услуги: </h6>
        <div style="margin-left: 0.1rem; margin-right: 0.1rem;" class="row tableBlockBlue">
        {% for service in services %}
        <div class="col-12 mini-block">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'service_profile' service.id %}"> {{ service }} </a>
        <br>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}